* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
}

body {
	background-color: #36454F;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	scroll-behavior: smooth;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.navbar-nav {
	margin: 0 auto;
  	display: flex;
  	justify-content: right;
  	align-items: center;
  	width: 100%;
}

.nav-item {
	margin-right: 20px;
	margin-left: 20px;
}

#navbarlogo {
	width: 40px;
	height: 40px;
	position: relative;
}


#jumboturon {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(./images/landing.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	scroll-behavior: smooth;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

#header1 {
	margin-left: 0;
	padding: 0;
}

#logo1 {
	width: 150px;
	height: 150px;
	margin: 0;
	padding: 0;
}

#text1 {
	color: white;
	font-weight: 200;
}

#text3 {
	font-size: 15px;
	margin-left: 50px;
	margin-right: 50px;
}

#header1 {
	color: #D1D0CE;
}

#mypic {
	width: 130px;
	height: 130px;
}

#aboutme1 {
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 20px;
	background-color: rgba(0, 0, 0, 0.3);
}

#myname {
	font-size: 20px;
	color: #D1D0CE;
	font-weight: 200;

}

#mytitle {
	font-size: 15px;
	color: #D1D0CE;
	font-weight: 100;
}

#mybackground {
	color: #D1D0CE;
	font-size: 13px;
	font-weight: 100;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 30px;
}

#border1 {
	width: 45rem;
	height: 70px;
}

h1 {
	color: #D1D0CE;
	font-weight: 200;
	font-size: 20px;
}


#list2 {
	width: 100%;
	margin-top: 10px;
}

#list1 {
	color: #D1D0CE;
	line-height: 20px;
	display: flex-column;
}

#titles1 {
	font-size: 15px;
	font-weight: 200;
}

#projectsp {
	font-size: 13px;
	font-weight: 100;
}

@media (max-width: 991px) {
    #list1 {
        order: 2;
    }
    #list2 {
        order: 1;
    }
}

#sidebg {
	background: rgba(0, 0, 0, 0.0);
	border: 0;
}


#carouselExampleIndicators {
	max-height: 100vh;
	max-width: 100vh;
	margin: auto;
	padding: 0;
}

#gallerypic {
	max-height: 100vh;
	max-width: 100vh;
}


.contactForm {
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #566D7E;
}

.contactForm .inputBox {
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin: 2px 0;
    border: none;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 15px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #36454F;
}


.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    margin-top: 10px;
}

@media (max-width: 991px) 
{
    .contact
    {
        padding: 50px;
    }
    #containercontact
    {
        flex-direction: column;

    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm

    {
        width: 100%;
    }
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.socials li{
	margin: 0 10px;
}

.socials a {
	text-decoration: none;
	color: black;
}

.socials a i {
	transition: color 4.s ease;
}

.socials a:hover i {
	color: aqua;
}

#footer-bottom {
	font-size: 12px;
	word-spacing: 2px;
	text-transform: capitalize;
	width: 100vw;
	padding-top: 20px;

}

#span1{
	text-transform: uppercase;
	width: 100vw;
	opacity: 60%;
}

#footer-title{
	font-weight: 300;
}